<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Coaster Tycoon</title>

<style>
	
	* {
		margin: 0px;
		padding: 0px;
	}

	html, body {
		height: 100%;
	}
	
	#game {
		display: block;
		cursor: cell;
	}
	
	#tilePicker {
		position: fixed;
		width: 126px;
		padding: 5px;
		top: 0px;
		right: 0px;
		background-color: rgba(0,0,0,.8);
		color: #fff;
	}
	
	#tilePicker li {
		list-style-type: none;
		margin: 5px;
		height: 32px;
		width: 32px;
		float: left;
		opacity: .7;
	}
	
	#tilePicker li.selected, #tilePicker li:hover {
		cursor: pointer;
		opacity: 1;
	}

</style>

</head>
<body>

	<canvas id="game"></canvas>
	
	<ul id="tilePicker"></ul>


	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="/static/js/Game.js"></script>
	<script src="/static/js/IO.js"></script>
	<script src="/static/js/FrameCounter.js"></script>
	<script src="/static/js/Vector.js"></script>
	<script src="/static/js/Player.js"></script>
	<script src="/static/js/Map.js"></script>
	<script src="/static/js/Curve.js"></script>
	<script src="/static/js/Tile.js"></script>
	<script src="/static/js/Viewport.js"></script>
	<script src="/static/js/Track.js"></script>
	<script src="/static/js/Train.js"></script>
	<script src="/static/js/Math.js"></script>
	<script type="text/javascript">
		var game = new Game();
		game.init();
		game.start();
		
		var selected = 0;
		
		$("#tilePicker li").click(function() {
			selected = $(this).data('tile');
			$("#tilePicker li").removeClass('selected');;
			$(this).addClass('selected');
		});
		
		$("#game").click(function() {
			var x = game.map.highlight.x;
			var y = game.map.highlight.y;
			var tile = parseInt(selected, 10);
			game.map.set(x, y, tile);
		});
		
	</script>

</body>
</html>

